body {
    background-color: #CDCFD0;
}

.robot-animation {
    width: auto;
}

.main {
    height: 100%;
    padding: 13% 10%;
    font-family: 'Share Tech', sans-serif;
}

#title {
    font-size: 500%;
    padding: 0;
    color: #696A6A;
}

#robot-container {
    width: 100%;
}
#sub-title {
}
.main-text {
    line-height: 10%;
}