body {
    background-color: #7EF9FF;
}

.robot-animation {
    width: 30%;
}

.main {
    height: 100%;
    padding: 20% 10%;
    font-family: 'Share Tech', sans-serif;
}

#title {
    font-size: 500%;
    padding: 0;
    color: #807eff;
}

#sub-title {
}
.main-text {
    line-height: 10%;
}