body {
  background-color: #cdcfd0;
  font-family: "Share Tech", sans-serif;
}

.robot-animation {
  width: 100%;
}

#title-container {
  height: 100%;
  padding: 13% 5%;
}

#title {
  font-size: 500%;
  padding: 0;
  color: #696a6a;
}

#all-robots-container {
  width: 100%;
}
#sub-title {
}
.main-text {
  line-height: 5%;
}

.robot-caption {
  font-size: 150%;
}

.robot-container {
  position: relative;
}

#experience-container{
  padding-left: 5%;
  /* padding: 13% 5%; */
}

.experience-card{
  height: 120%;
}

.experience-card .card-img-overlay {
  visibility: hidden;
}

.experience-card:hover .card-img-overlay {
  visibility: visible;
}

.card-img-top {
  vertical-align: middle;
}

.experience-card:hover .card-img-top {
  transition: filter 0.5s;
  filter: blur(5px);
  filter: brightness(0.2);
}

.list-group-item-dark {
  background: rgba(255, 165, 0, 0);
  color: #fff;
}

img {
  width: auto;
  height: 100%;
}